## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## Build
publish/
*.msixbundle

## IDE
.vs/
.vscode/
.idea/
*.swp

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Output
output*/

## NuGet
*.nupkg
packages/
